* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
	display: block;
}

body {
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}

main {
	flex: 1 1 auto;
}

body,
html {
	height: 100%;
}

input::-ms-clear {
	display: none;
}

button {
	background-color: transparent;
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}


/*  */


.page {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: grey;
}



.page__todo {}

.todo {
	/* font-family: 'roboto', serif; */
}

.todo__container {
	width: 500px;
}

.todo__block {
	height: 600px;
	padding: 25px 8px 25px;
	border-radius: 10px;
	background-color: #fff;
	position: relative;
	overflow: hidden;
}

.todo__error{
	position: absolute;
	bottom: 100%;
	left: 50%;
	min-width: 150px;
	text-align: center;
	transform: translate(-50%, 0%);
	background-color: aquamarine;
	color: green;
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 25px;
	border: 2px solid green;
	border-radius: 10px;
	padding: 15px;
	visibility: hidden;
	opacity: 0;
}

.todo__error.todo__error_visible{
	animation: visible-error 2s ease-out 2 alternate 0s;
}

@keyframes visible-error {
	0%{
		transform: translate(-50%, 0%);
		opacity: 0;
		visibility: hidden;
	}

	50%, 100%{
		transform: translate(-50%, 110%);
		opacity: 1;
		visibility: visible;
	}
}

.todo__priority {
	height: 50%;
	margin: 0px 0px 12px 0px;
	display: flex;
	flex-direction: column;
}

.todo__priority:last-child{
	margin: 0;
}

.todo__title {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	margin: 0px 0px 8px 0px;
	text-align: center;
}

.todo__tasks {
	display: flex;
	flex: 1 1 auto;
	overflow: hidden;
	flex-direction: column;
}

.todo__addtask {
	display: flex;
	width: 100%;
	border: 1px solid #989898;
	border-radius: 6px;
	padding: 12px;
	margin: 0px 0px 8px 0px;
}

.todo__date,
.todo__add {
	flex: 1 1 auto;
	margin: 0px 10px 0px 0px;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
}

.todo__add::placeholder{
	
	color: #BBBBBB;
}

.todo__date:focus,
.todo__add:focus{
	outline: 1px solid #989898;
}

.todo__date{
	min-width: min-content;
}

.todo__plus_rotate {
	flex: 0 0 18px;
	display: block;
	height: 18px;
	position: relative;
	cursor: pointer;

}
.todo__plus_rotate:hover::before,
.todo__plus_rotate:hover::after{
	background-color: #2b282b;
}
.todo__plus_rotate::after{
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	height: 100%;
	width: 1px;
	background-color: #998899;
	transition: all 0.3s;
}

.todo__plus_rotate::before {
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	width: 100%;
	height: 1px;
	background-color: #998899;
	transition: all 0.3s;
}

.todo__list {
	margin: 8px 0px 0px 0px;
	flex: 1 1 auto;
	overflow: auto;
	padding: 0px 10px 0px 0px;
}

.todo__task {
	margin: 0px 0px 8px 0px;
	display: flex;
	padding: 12px;
	border: 1px solid #989898;
	border-radius: 6px;
}

.todo__task:last-child {
	margin: 0;
}

.todo__task.todo__task_todo{
	background-color: #ecececa6;
}

.todo__checkbox {
	appearance: none;
	height: 18px;
	flex: 0 0 18px;
	background-color: #fff;
	border: 1px solid #998899;
	border-radius: 50%;
	margin: 0px 10px 0px 0px;
	padding: 3px;
	background-clip: content-box;
}
.todo__checkbox:checked{
	background-color: #998899;
}
.todo__label{
	display: block;
	flex: 1 1 auto;
	position: relative;
	margin: 0px 10px 0px 0px;
}

.todo__timer{
	margin: 0px 10px 0px 0px;
}

.todo__plus_rotate {
	rotate: 45deg;
	
}


.packman {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}

.packman__block {
	display: block;
	width: 100%;
	position: relative;
	width: 30px;
	height: 30px;
	/* background-color: aqua; */
}

.packman__side {
	display: block;
	width: 100%;
	transform-origin: bottom;
	height: 50%;
	border-radius: 50% 50% 0 0 / 100% 100% 0 0;
	position: absolute;
	top: 0;
}

.packman__side_top {
	background-color: yellow;
	rotate: 30deg;
}

.packman__side_top_active {
	animation: packman-top 0.75s infinite alternate-reverse linear 0s;
}

.packman__side_top::before{
	content: "";
	display: block;
	position: absolute;
	top: 5px;
	left: 5px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	border: 1px solid green;
	background-color: #fff;
}

.packman__side_bottom {
	background-color: yellow;
	/* rotate: 180deg; */
	rotate: 150deg;
	animation: packman-bottom 0.75s infinite alternate-reverse linear 0s;
}

.packman__side_bottom {
	background-color: yellow;
	/* rotate: 180deg; */
	rotate: 150deg;
	animation: packman-bottom 0.75s infinite alternate-reverse linear 0s;
}

/* @keyframes packman-top {
	0%{
		rotate: 0deg;
	}
}


@keyframes packman-bottom {
	0% {
		rotate: 180deg;
	}
} */

